label { 
    display: block;
    float: left;
    width: 30%;
    clear: left;
    text-align: right;
}

.messageHolder {
	position: absolute;
	top: 1px;
	width: 100%;
	height: 2em;
}

#messageArea {
	position: absolute;
	top: 1px;
	background: yellow;
	padding: 2px;
	font-weight: bold;
	left: 50%;
}