label { 
    display: block;
    float: left;
    width: 30%;
    clear: left;
    text-align: right;
}

.messageHolder {
	position: absolute;
	top: 1px;
	width: 99%;
	height: 2em;
	overflow: hidden;
}

#messageArea {
	position: absolute;
	top: 1px;
	background: yellow;
	padding: 2px;
	font-weight: bold;
	left: 50%;
}

li.passenger:hover {
	text-decoration: line-through;
	cursor: pointer;
}

.carInfo {
	text-align: left
}