<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>What About Kyle?</title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/base/base-min.css">
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/button/assets/skins/sam/button.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/container/assets/skins/sam/container.css" />
   <link rel="stylesheet" href="../view/css/main.css" type="text/css">
</head>
<body onunload="GUnload()" class="yui-skin-sam">

<!-- YUI Dialog Stuff -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/connection/connection-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/button/button-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/container/container-min.js"></script>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAGDdf_nC4iDfqhvjcgc-9GBQoRtT7WMMfqjastn1YMcb_xa202xRqrdfywvew-1OKeWV9C02GyHC0jA" type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script type="text/javascript" src="js/wak.js"></script>
<script type="text/javascript" src="js/carOverlay.js"></script>
<script type="text/javascript" src="js/dialogs.js"></script>
<script type="text/javascript" src="js/day.js"></script>
<script type="text/javascript" src="js/connection.js"></script>
<script type="text/javascript">
	$(function() {
		var map = new GMap2(document.getElementById("map_canvas"));
		// Georgia Tech
		map.setCenter(new GLatLng(33.7784626, -84.3988806), 15);
      
		map.setUIToDefault();
		$('form#locationBox').submit(function() {
			var query = $('#locationBoxField').val();
			wak.centerMap(map, query, function() {
				alert("Cannot resolve location: " + query);
			});
			return false;
		});
		
		initAddDialog(map);
		
		var con = new Connection('http://128.61.115.235:8000', 'VyperBoli');
		
		// Allows stuff to talk to the server
		window.updateHandler = con;
		
		// Force preload <-- A HACK
		var hack = new GMarker(map.getCenter());
		map.addOverlay(hack);
		hack.openInfoWindowHtml('Loading...');
		GEvent.addListener(hack, "infowindowopen", function() {			
			map.removeOverlay(hack);
		
			con.loadDay(new Date(), function(day) {
				wak.currentDay = day;
				day.listenForUpdates(con);
				day.render(map);
			});
		});
	});
</script>
<div id="doc2" class="yui-t7">
   <div id="hd"><h1>Header</h1>
   	<div class="messageHolder">
   		<div id="messageArea" style="display:none"></div>
   	</div>
   </div>
   <div id="bd" role="main">
	<div role="navigation" class="yui-g">
		<form id="locationBox" action="#">
			<input type="text" id="locationBoxField" /> <input type="submit" value="Update Location"/>
		</form>
		<button id="addCar">Add Car</button>
	</div>
<div role="application" class="yui-g">
	
<div id="map_canvas" style="width: 100%; height: 500px"></div>
	</div>

	</div>
   <div id="ft" role="contentinfo"><p>Footer</p></div>
</div>

<!-- Hidden Stuff For Dialogs and Junk -->
<div id="carInfo" style="display:none">
	<h2 style="margin-top: 0px">#{driver}'s Car</h2>
	<h3>#{dest}</h3>
	Total Seats: #{numSeats}<br/>
	Passengers:
	<ul>
	 	#{passengerList}
		<li class="input">
			<form action="#" class="addPassengerBox">
				<input type="text" class="addPassengerBox" />
			</form>
		</li>
	</ul>	
	<a class="deleteButton" href="#">Remove Car</a>
</div>

<div id="addDialog" class="yui-pe-content">
	<div class="hd">Add Car</div>
	<div class="bd">
		<form action="#" id="addCarForm">
			<label for="driver">Driver:</label><input type="text" name="driver"/><br/>
			<label for="numSeats"># Passengers:</label><input type="text" name="numSeats"/><br/>
			<label for="dest">Destination:</label><input type="text" name="dest"/><br/>
		</form>
	</div>
</div>
<div id="promptDialog"></div>

</body>
</html>